# 파이썬 기초문법 복습

## 모듈 학습 목표
- 사칙연산, 변수계산, 조건문 if, 반복문 for, 반복문 while, 함수등의 기초문법을 이해할 수 있다. 
- 나는 오늘 Python의 기본적인 문법을 살펴봤고 실습을 통해 프로그래밍한다는 게 뭔지 좀 알게 됐다.

### 연산(Operator)

In [1]:
1 + 2

3

In [2]:
16 / 2

8.0

In [3]:
16 //3

5

In [4]:
3 * 9

27

In [5]:
7%3

1

### 변수에 문자열 또는 숫자 넣기(할당연산자(=))

In [6]:
a = 3
b = 5

print(a/b)
a*b

0.6

15

In [7]:
a= 3
a = a + 1
print (a)

4

In [8]:
a = a + 2
a

6

In [9]:
x = 3
y = a * x + b

y

23

In [10]:
naver = 601000  # naver라는 변수에 601000 라는 숫자를 할당(데이터가 있는 위치를 매핑)

In [11]:
naver + 1

601001

In [12]:
a = 1  # 숫자
b = 2

In [13]:
a + b

3

### 문자열
- 문자열은 ‘ ’ 또는 “ ” 으로 묶어서 표시한다. 
- 여러 줄(line)으로 된 문자열은 """   """ 으로 묶어서 표시한다.

In [14]:
"Hello World!"

'kyung cha'

'kyung cha'

In [15]:
"Shayne's Name?"

"Shayne's Name?"

In [16]:
'Hellow World'

'Hellow World'

In [17]:
'''Hellow 
   World'''

'Hellow \n   World'

### 출력하기

In [18]:
i = 3

print(i)

print(i + 2)

print(type(i))

j = 0.3

print(type(j))

3
5
<class 'int'>
<class 'float'>

In [19]:
print ('a')
print (a)

a
1

In [20]:
# int => 'integer' => 숫자
# str => 'string' => 문자
1 + 2

3

In [21]:
1 + 2

3

'1' + '2'

In [22]:
'1' + '2'

'12'

In [23]:
KNU = "강원대학교"  # 문자

In [24]:
KNU

'강원대학교'

In [25]:
KNU + KNU

'강원대학교강원대학교'

> **Q. 위에 선언한 KNU 뒤에 춘천캠퍼스를 붙히려면 어떻게 하면 될까**

### 데이터가 어떤 Type인지 확인하기

- 프로그래밍을 할 때 데이터를 숫자 유형인지 문자 유형인지 등에 따라 구분합니다.
- 이것을 데이터 타입이라고 합니다.
- Python 에서는 아래와 같은 것들이 있습니다.

Variable Name|Value|Data Type
--|--|--
dog_name|'Freddie'|str (short for string)
age|9|int (short for integer)
is_vaccinated|True|bool (short for Boolean)
height|1.1|float (short for floating)
birth_year|2001|int (short for integer)

In [26]:
data = "1"

In [27]:
type(data)

str

In [28]:
type(a)

int

In [29]:
isinstance(data, str)

True

In [30]:
type(1)

int

In [31]:
type('this is string!')

str

In [32]:
'this is string!'.title()

'This Is String!'

In [33]:
try:
    data + 1
except TypeError:
    if isinstance(data, str):
        print("문자열이 포함되어 있어 계산이 안됩니다!")

문자열이 포함되어 있어 계산이 안됩니다!

## 포메팅

In [34]:
bannas =3
days =5
"Shayne ate {0} bannas for {1} days".format(bannas,days)

'Shayne ate 3 bannas for 5 days'

In [35]:
model_a = 4.4534346547
model_b = 7.80932543454

#f=>float => 소수점
"A= {0:.5f}, B={1:.3f}".format(model_a, model_b)

'A= 4.45343, B=7.809'

In [36]:
model_a = 4.456545647
model_b = 7.434356457
"A = {0:.3f}, B={1:.2f}".format(model_a, model_b)

'A = 4.457, B=7.43'

### 변수에 특정값 넣기(리스트에서 가져와서 할당하기, 함수 반환값을 통해 할당하기)

In [37]:
Korea_president = ['문재인', '박근혜', '노무현', '김대중']  # list 값 할당하기
Korea_president

['문재인', '박근혜', '노무현', '김대중']

In [38]:
Next_Korea_president = Korea_president[2]  # indexing 해서 할당하기
Next_Korea_president

'노무현'

In [39]:
from random import randint

number = randint(1, 5)  # 함수 반환 값 할당하기
number

4

> **Q. 위에서 배운 것을 이용해서 Korea_president 리스트 중 랜덤하게 한 명을 선택해 출력해보자.**

### 논리형
- 파이선에서 논리값은 True 또는 False 중에 하나를 갖는다 (대소문자를 구분한다). 
- 논리값을 마치 숫자인 것으로 가정하고 연산을 할 수 있는데, 이때는 True는 1로 자동 변환되고, False는 0으로 계산된다.

In [40]:
a = True
b = False

a and b

False

In [41]:
a or b

True

In [42]:
not a

False

In [43]:
a == b

False

In [44]:
a != b

True

### 비교연산자

In [45]:
'A' == 'A'

True

In [46]:
1 == '1'

False

In [47]:
1 != '1'

True

In [48]:
1 >= 3

False

In [49]:
100 <= 300

True

### 리스트
- 여러 데이터를 한 곳에 묶는 방법으로 리스트가 가장 많이 사용된다. 리스트에는 임의의  자료 타입을 담을 수 있다. 리스트를 만들려면 [ ]를 사용한다.

- 순서가 있는 요소가 있는 자료 구조
- ex) `players = ['투수 임찬국', '투수 류제국', '내야수 오지환', '내야수 가르시아', '포수 정상호']`
- 튜플도 있는데 리스트와 차이가 있다면 튜플은 수정삭제추가가 불가능하다.

- list만 추가/수정/삭제가 가능하므로 list에만 있는 메소드는 아래와 같다.

메서드|설명
--|--
리스트.append(x)|리스트의 끝에 새로운 원소 x를 추가
리스트.extend(t)|리스트의 끝에 새로운 리스트 t를 추가
리스트.count(x)|리스트에서 x가 출현한 횟수를 셈
리스트.insert(i, x)|색인 i의 위치에 x를 삽입
리스트.pop(i)|리스트에서 원소 i를 제거하면서 i를 반환, i를 생략하면 마지막 원소가 제거되면서 반환
리스트.remove(x)|x를 찾아서 s에서 제거

In [50]:
odd = [1,3,5,7,9]
odd
a = [2,3,4,5,6]
a

[2, 3, 4, 5, 6]

In [51]:
print(odd[0])
print(odd[1])
print(odd[2])

1
3
5

In [52]:
print(odd[-1])
print(odd[-2])
print(odd[-3])

9
7
5

In [53]:
odd[0:4]

[1, 3, 5, 7]

- 리스트내에 어떤 항목이 들어 있는지를 확인하고 들어 있으면 True를 리턴한다.

In [54]:
1 in odd

True

In [55]:
print(1 in odd)
print(2 in odd)
print(3 in odd)

True
False
True

In [56]:
print(odd)
odd.append(11)
odd[2]=6
odd

[1, 3, 5, 7, 9]

[1, 3, 6, 7, 9, 11]

- 리스트를 두 개 붙이려면 +를 사용하면 다음과 같이 같단히 두 리스트를 붙일 수 있다.

In [57]:
odd = odd + [13,15,17,19]
odd

[1, 3, 6, 7, 9, 11, 13, 15, 17, 19]

In [58]:
odd [0:4] + odd[-3:-1]

[1, 3, 6, 7, 15, 17]

> **Q. 리스트에 있는 원소 중 None 을 제거한 리스트를 출력하라.**

In [59]:
lst = [1, 2, -8, None, 12, 0]

In [60]:
# 여기에 작성해보세요.

In [63]:
from random import randint

number = randint(1, 5)  # 함수 반환 값 할당하기
number

3

## 반복문

### 1) while

```
while 조건문:
    조건문인 참인 경우 실행
    거짓인 경우 while 반복문을 빠져나옴
    따라서 조건문이 변경되는 로직이 있어야 하고,
    조건문이 변경되지 않으면 영원히 while 반복문을 빠져나오지 못함
```

In [64]:
increment = 0
while increment < 10:  # 조건문
    print(increment)
    increment += 1  # increment = increment + 1

0
1
2
3
4
5
6
7
8
9

In [65]:
increment = 10
while increment > 0:
    print(increment)
    increment -= 1  # increment = increment - 1

10
9
8
7
6
5
4
3
2
1

In [66]:
increment = 10
while True:
    print(increment)
    increment -= 1
    if increment == 0:  # 특정 값일 때 while 반복문을 빠져나오기
        break

10
9
8
7
6
5
4
3
2
1

### 2) for

In [67]:
range(4)

range(0, 4)

In [68]:
for item in range(4):
    print(item)

0
1
2
3

In [69]:
range(4)

range(0, 4)

In [70]:
for item in range(1, 4):
    print(item)

1
2
3

In [71]:
for item in range(1, 10, 2):  # 2 = step
    print(item)

1
3
5
7
9

#### range가 아니어도 반복문을 사용할 수 있다!

In [72]:
basket = ['apple', 'banna', 'chicken', 'juice']

print (basket[0])
print (basket[1])
print (basket[2])
print (basket[3])

for stuff in basket:
    print(stuff)


color = ['green', 'pink', 'yellow', 'orange']

for stuff in color:
    print (stuff)

apple
banna
chicken
juice
apple
banna
chicken
juice
green
pink
yellow
orange

In [73]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [74]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

In [75]:
for i in range(2,8):
    if i == 6:
        break
    print(i)

2
3
4
5

In [76]:
for i in range(1,6):
    if i == 5:
        break
    print(i)

1
2
3
4

In [77]:
for i in range(1,7):
    if i ==3:
        continue
        
    if i == 6:
        break
    print(i)

1
2
4
5

In [78]:
for i in range(0,11):
    print(i*2)

0
2
4
6
8
10
12
14
16
18
20

In [79]:
for i in range(2,20):
    print(i*3)

6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57

In [80]:

for i in range(1,10):
    if i == 3:
        continue
    if i == 6:
        break
    double=i*2
  
    print(double)

2
4
8
10

In [81]:
a_list =[]
for i in range(0,10):
    if i == 1:
        continue
    if i == 8:
        break
    double=i*2
    a_list.append(double)
a_list

[0, 4, 6, 8, 10, 12, 14]

In [82]:
idx = 0

while idx < 10:
    print(idx)
    idx = idx + 1

0
1
2
3
4
5
6
7
8
9

In [83]:
for idx in range(10):
    print(idx)

0
1
2
3
4
5
6
7
8
9

In [84]:
people = ['kim', 'lee', 'choi']

for p in people:
    print(p)

kim
lee
choi

### 연습문제 구구단

> **Q. 프로그래밍 고전! 구구단 3단과 4단을 아래와 같이 출력해볼까요?!**

> ex)
```
--3단 시작--
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--4단 시작--
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
```
> hint)

> `print("{} * {} = {}".format(a, b, a * b))`

In [85]:
# 아래서부터 작성해보세요.